
<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
  </button>
  <span>Produtos</span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/listarproduto">Listar Produtos</button>
  <button mat-menu-item routerLink="/cadastrarproduto">Cadastrar Produto</button>
  <button mat-menu-item routerLink="/ultimoproduto">Último Produto Cadastrado</button>
</mat-menu>