<mat-card>
    <mat-card-title>{{titulo}}</mat-card-title>
    <mat-card-content class="form-container">
      <form [formGroup]="formGrupoProduto">
        <mat-form-field hintLabel="Máximo 200 Caracteres">
          <input matInput #inputDescricao placeholder="Descrição" maxlength="200" 
            [(ngModel)]="produto.descricao" formControlName="descricao" required>
          <mat-hint align="end">{{inputDescricao.value?.length || 0}}/200</mat-hint>
          <mat-error *ngIf="descricao.invalid">{{getMessageErroDesricao()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input currencyMask matInput placeholder="Preço" type="text" class="form-right-align" 
            [(ngModel)]="produto.preco" formControlName="preco" required>
          <mat-error *ngIf="preco.invalid">{{getMessageErroPreco()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button [disabled]="!formGrupoProduto.valid" color="primary" (click)="salvar()">Salvar</button>
        <button mat-raised-button [routerLink]="['/listarproduto']">Cancelar</button>
      </form>
    </mat-card-content>
  </mat-card>