.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
   
.form-right-align {
    text-align: right;
}
  
input.form-right-align {
    -moz-appearance: textfield;
}

mat-form-field {
    width: 100%;
    margin-bottom: 10px;
}

button {
    margin: 2px;
}

