<h1 mat-dialog-title>Confirmação</h1>
<div mat-dialog-content>
  <p>Confirma a exclusão de {{data.produto.descricao}}?</p>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" [mat-dialog-close]="data.produto">Confirma</button>
  <button mat-button (click)="onCancelaClick()" cdkFocusInitial>Cancela</button>
</div>