
<mat-card>
  <mat-card-title>Lista de Produtos</mat-card-title>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
      <td mat-cell class="coluna-descricao" *matCellDef="let produto"> {{produto.descricao}} </td>
    </ng-container>
    
    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço </th>
      <td mat-cell *matCellDef="let produto"> {{ produto.preco | currency:'R$' }} </td>
    </ng-container>
      
    <ng-container matColumnDef="dataHoraCadastro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Cadastrado  </th>
      <td mat-cell *matCellDef="let produto"> {{ produto.dataHoraCadastro | date:'dd/MM/yy HH:mm' }} </td>
    </ng-container>

    <ng-container matColumnDef="btVisualizar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="coluna-acoes" *matCellDef="let produto"> 
        <button mat-icon-button [routerLink]="['/visualizarproduto',produto.id]" matTooltip="Visualizar dados do produto">
          <mat-icon>visibility</mat-icon>
        </button>        
      </td>
    </ng-container>

    <ng-container matColumnDef="btAlterar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="coluna-acoes" *matCellDef="let produto"> 
          <button mat-icon-button [routerLink]="['/alterarproduto',produto.id]" matTooltip="Editar cadastro do produto">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
    </ng-container>
  
    <ng-container matColumnDef="btExcluir">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="coluna-acoes" *matCellDef="let produto"> 
          <button mat-icon-button (click)="confirmaExclusao(produto)" matTooltip="Excluir cadastro do produto">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
