<mat-card>
  <mat-card-title>{{titulo}}</mat-card-title>
  <p><span class="label">Descrição: </span> {{produto.descricao}}</p>
  <p><span class="label">Preço: </span> {{produto.preco | currency:'R$'}}</p>
  <p><span class="label">Data de Cadastro: </span> {{produto.dataHoraCadastro | date:'dd/MM/yyyy HH:mm'}}</p>
  <button mat-raised-button [routerLink]="['/listarproduto']">Voltar</button>
</mat-card>